<div>
  <h2>Add Pet</h2>
  <form [formGroup]="petForm" (ngSubmit)="addPet()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" />
    </div>

    <div>
      <label for="model">Description:</label>
      <input type="text" id="description" formControlName="description" />
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="text" id="age" formControlName="age" />
    </div>
    <button type="submit" [disabled]="petForm.invalid">Add Pet</button>
  </form>
</div>
